
body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/506/959/705/beautiful-anime-girl-sakura-cherry-blossom-wallpaper-preview.jpg);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}
body > * {
  padding: 0px;
  background-size: cover;
  background-position: center;
}
header {
  background: rgb(3, 3, 3);
  display: flex;
  font-size: medium;
}
header,
footer {
  line-height: 30px;
}
header a {
  text-decoration:none;
  color: white;
}
header a:not(:last-child) {
  margin-right: 24px;
}
header .left-header {
  margin-right: auto;
}
main {
  flex-grow: 1;
}
